{% extends 'base2.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Graficador de Funciones</title>
</head>
<body>
    <h1>Graficador de Funciones</h1>
    <a href="{% url 'graficadorSimple' %}" class="btn btn-primary">
        Graficar otra función
    </a>
    {% if imagen_grafico %}
        <img src="data:image/png;base64,{{ imagen_grafico }}" alt="Gráfico de la función">
    {% else %}
        <h2>Ingrese la función:</h2>
        <form method="post">
            {% csrf_token %}
            <label for="funcion1">Función:</label>
            <input type="text" id="funcion" name="funcion" required>
            <button type="submit">Graficar</button>
            <a href="{% url 'graficadorSimple' %}" class="btn btn-primary">
                Graficar otra función
            </a>
        </form>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener el valor del parámetro 'parametro' de la URL
            const urlParams = new URLSearchParams(window.location.search);
            const parametro = urlParams.get('funcion');
    
            // Obtener el campo de entrada del formulario
            const fun = document.getElementById('funcion');
    
            // Llenar automáticamente el campo con el valor del parámetro de la URL
            if (parametro !== null) {
                fun.value = parametro;
            }
        });
    </script>
</body>
</html>
{% endblock %}

